.card-container {
  margin: 30px;
  border: 1px solid grey;
  width: 250px;
  height: auto;
  padding-bottom: 1%;
  cursor: pointer;
}

.img-card {
  width: 250px;
  height: 80%;
}

.img-card > img {
  width: 100%;
  height: 250px;
  background-size: contain;
}

.product-details {
  letter-spacing: 1px;
}

.bold {
  font-weight: 600;
}
